
/*This is for the back ground colour */
body {
    background-color: white;
}
/*This is the text for the title  */
h1{font-family: arial, sans serif;
    color: grey;
    font-size: 24pt;
    border: 10px;
                padding: 15px;
                margin: 25px;
                align-self: center;

                
}

div.title {
    text-align: center;
}

.nav {

    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;

} 

.nav > li { 

    display: inline-block;
    padding: 0 70px 0 70px;

}

.nav > li > a { 

    text-decoration: none;
    color: #f1f1f1
}

.nav > li > a:hover {

    color: darkgray

}

.top-container {
   
    padding: 10px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
    
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 50px;
  }